@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@700&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(8, 7, 14);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

