.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem 2rem 2rem 2rem;
    margin: auto;
}

.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    position: sticky;
    top: 6.5rem;
    z-index: 9999;
    margin: 0 auto;
}

.font {
    font-family: 'Tektur';
    color: azure;
    text-shadow: 2px 1px 13px rgba(54, 2, 113, 1);
    margin: 0 auto;
}

.button {
    border-radius: 0.3rem;
    background-color: rgb(157, 214, 233);
    width: 30%;
    height: 2rem;    
    font-family: 'Tektur';
    box-shadow: 0 0 5px 5px #fff;
    cursor: pointer;
}